.course-header-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-right: 15px;
}

.course-header-info {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    flex: 7;
}

.course-header-info-text {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.course-header-info-text h5 {
    font-weight: bold;
    margin-bottom: 1px;
}

.selected-course-price-container {
    font-size: smaller;
    margin-top: 1px;
    margin-bottom: 0;
}

.no-selected-course-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.no-selected-course-container p {
    color: #b6b6b6;
}

.course-description {
    white-space: pre-line;
    font-size: small;
    margin: 20px 0;
}