<div class="panel-body height__100pc padding__20">
  <div *ngIf="isActiveCourse(); else noSelectedCourse">
    <app-course-info-header [course]="getActiveCourse()"></app-course-info-header>
    <p class="course-description">{{ getActiveCourse().description }}</p>
    <div *ngIf="getActiveCourse().sampleExercise">
      <h4>Sample exercise</h4>
      <div class="panel panel-default sample-exercise-container">
        <div class="panel-body">
          <p class="sample-exercise">{{ getActiveCourse().sampleExercise }}</p>
        </div>
      </div>
    </div>
  </div>
  <ng-template #noSelectedCourse>
    <div class="no-selected-course-container">
      <p>Select a course to display additional information</p>
    </div>
  </ng-template>
</div>
