<div (click)="toggleActiveCourse(course); false"
     class="panel panel-default"
     [class.course-panel]="!isActive()"
     [class.course-panel-selected]="isActive()">
  <p class="new-course-price-container"
     [class.free-price-container]="!course.isOpen && course.isFree"
     [class.price-container]="!course.isOpen && !course.isFree"
     [class.hidden-price-container]="course.isOpen">{{ getPrice() }}</p>
  <div class="course-info-container">
    <img class="img-circle circle-img" src="{{ course.img }}"/>
    <div class="course-info-text">
      <h5>{{ course.name }}</h5>
      <p>{{ course.shortDescription }}</p>
    </div>
  </div>
</div>
