<form class="padding__10">
  <div class="form-row">
    <div class="form-group width__100pc">
      <label>Keywords</label>
      <input #keywords
             type="text"
             class="form-control"
             id="keywords"
             value="{{ getKeywordsValue() }}"
             placeholder="Enter keywords">
    </div>
  </div>
  <div class="form-row">
    <div class="form-group">
      <label>Price</label>
      <div class="inline-form-container">
        <input #minPrice
               type="text"
               class="form-control inline-form-member__2p5 width__100pc"
               id="min-price"
               value="{{ getMinPriceValue() }}"
               placeholder="min">
        <p class="inline-form-member__1">$ - </p>
        <input #maxPrice
               type="text"
               class="form-control inline-form-member__2p5"
               id="max-price"
               value="{{ getMaxPriceValue() }}"
               placeholder="max">
        <p class="inline-form-member__1">$</p>
        <div class="form-check inline-form-member__6 checkbox-centered-content">
          <input #freeOnly
                 class="form-check-input"
                 type="checkbox"
                 id="freeOnly"
                 [checked]="getFreeOnlyValue()">
          <label class="form-check-label" for="freeOnly">
            Free only
          </label>
        </div>
      </div>
    </div>
  </div>
  <div class="form-row flex__justify-right">
    <button (click)="handleFilter(keywords.value, minPrice.value, maxPrice.value, freeOnly.checked); false" class="btn btn-default">Filter</button>
  </div>
</form>
