<div class="card-body padding__0">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link"
         href="#"
         (click)="setSelectedTab(LANGUAGE_TAB); false"
         [class.active]="selectedTab === LANGUAGE_TAB">Languages</a>
    </li>
    <li class="nav-item">
      <a class="nav-link"
         href="#"
         (click)="setSelectedTab(ADVANCED_TAB); false"
         [class.active]="selectedTab === ADVANCED_TAB">Advanced</a>
    </li>
  </ul>
  <div *ngIf="selectedTab === LANGUAGE_TAB">
    <app-language-tab [languages]="languages"></app-language-tab>
  </div>
  <div *ngIf="selectedTab === ADVANCED_TAB">
    <app-advanced-tab></app-advanced-tab>
  </div>
</div>
